<li>
    {{movie_title}}
  
    <button class="guest_like" data-id="{{id}}" data-newGuest_like="{{liked}}">
        {{#if liked}}Like{{else}}dislike{{/if}}
    </button>

<button class="guest_dislike" data-id="{{id}}" data-liked="{{liked}}">
        {{#if liked}}Like{{else}}Does not like{{/if}}
    </button>

</li>

